<!DOCTYPE html>
<html>
<head>
	<title>鸿鸡</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script type="text/javascript" src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/axios@0.21.0/dist/axios.min.js"></script>
</head>
<style type="text/css">
	*{margin: 0;padding: 0;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;font-size: 12px;}
	.tc{text-align: center;}
	.mt10{margin-top: 10px;}
	.pd10{padding: 10px;}
	ul > li {list-style:none;}
	th,td {text-align: left;}
	.flex{display: flex;}
	.flex-l{margin-right: auto;}
	.flex-r{margin-left: auto;}
	img{width: 20px;height: 20px;}
	h3 {line-height: 20px;}
	.f14{font-size: 14px;}
	.orange{color: orange;}
	button {padding: 3px 5px;}
	#add-btn{position: absolute;top: 50px; right: 20px;}
	#update-btn{position: absolute;top: 50px; right: 65px;}
	.modal .mask {position: fixed;height: 100%;width: 100%;background: #000;opacity: 0.7;top: 0;left: 0}
	.modal .modal-body {background: #fff; height: 300px;left: 16px;width: calc(100% - 32px);position: fixed;top: calc(50% - 150px);border-radius: 5px;}
	.modal .modal-title {height: 40px;line-height: 40px;border-bottom: 1px solid #ccc;font-weight: 600;font-size: 16px;text-align: center;}
	input {width: 100%;height: 30px;line-height: 30px;margin-top: 5px;padding: 0 10px;}
	.input-item label {font-size: 14px;}
	.modal button {width: 44%;height: 30px;line-height: 20px;}
</style>
<body>
	<div id="fundapp">
		<div class="flex" style="margin-top: 50px;">
			<h3 class="flex-r f14">鸿</h3>
			&nbsp;&nbsp;&nbsp;
			<img class="flex-l" src="/favicon.ico">
			<button type="button" id="add-btn" v-on:click="modal.show = true;">新增</button>
		</div>
		<div class="pd10 mt10">
			<table width="100%">
				<thead>
					<tr>
						<th>名称</th>
						<th>代码</th>
						<th>费用</th>
						<th>涨幅</th>
						<th>盈利</th>
					</tr>
				</thead>
				<tbody>
					<template v-if="list.length > 0">
						<tr v-for="data in list" @touchstart="gotouchstart(data.code)" @touchmove="gotouchmove" @touchend="gotouchend">
							<td>{{data.name}}</td>
							<td>{{data.code}}</td>
							<td>{{data.free_update ? data.free_update : data.free}}</td>
							<td>{{data.percent}}</td>
							<td>{{data.win}}</td>
						</tr>
					</template>
					<template  v-else>
						<tr>
							<td colspan="5" class="tc">
								<span class="orange">请添加数据</span>
							</td>
						</tr>
					</template>
				</tbody>
			</table>
			<p class="mt10" v-if="total != 0">盈利总额: {{total}}</p>
			<p class="mt10" v-if="total_percent != 0">总涨幅: {{total_percent}}</p>
			<div class="modal" v-if="modal.show">
		        <div class="mask"></div>
		        <div class="modal-body">
		        	<div class="modal-title">
		        		新增基金
		        	</div>
		        	<form style="padding: 30px 20px;">
		        		<div class="input-item">
		        			<label>代码</label>
		        			<input type="text" name="code" id="code" placeholder="请输入基金代码" autocomplete="off" maxlength="6">
		        		</div>
		        		<div class="input-item mt10">
		        			<label>费用</label>
		        			<input type="text" name="free" id="free" placeholder="请输入费用" autocomplete="off" maxlength="10">
		        		</div>
		        		<div class="flex" style="margin-top: 50px;">
		        			<button class="flex-l" type="button" v-on:click="modal.show = false;">取消</button>
		        			<button class="flex-r" type="button" v-on:click="add_funds">确定</button>
		        		</div>
		        	</form>
		        </div>
		    </div>
		</div>
	</div>
</body>
<script type="text/javascript">
var timeOutEvent=0;//定时器  
var fundapp = new Vue({
    el:'#fundapp',
    data:{
        list: [],
        modal: {show: false},
        standby: true,
        total: 0,
        total_percent: 0,
        update_btn: false,
    },
    methods: {
    	add_funds() {
    		var code = document.getElementById('code').value;
    		var free = document.getElementById('free').value;
    		if (!code) {
    			document.getElementById('code').focus();
    			return false;
    		}
    		if (!free) {
    			document.getElementById('code').focus();
    			return false;
    		}
    		this.setData(code, {code: code, free: free, free_update: 0});
    		this.getData();
    	},
    	setData(code, data){
    		var datas = localStorage.getItem('free_arr');
    		if (datas === null) {
    			datas = {};
    		} else {
    			datas = JSON.parse(datas);
    		}
			if (typeof datas[code] == 'undefined') {
    			datas[code] = {};
    		}
    		for (var i in data) {
    			datas[code][i] = data[i];
    		}
    		localStorage.setItem('free_arr', JSON.stringify(datas));
    		this.getData();
    		this.modal.show = false;
    	},
    	getData(type) {
    		if (!this.standby) {
    			return false;
    		}
    		var time = this.getTime();
    		if (type === 1) {
		    	if (time > 910 || time < 570) {
		    		return false;
		    	}
    		}
    		if (time > 910) {
    			this.update_btn = true;
    		}
    		var datas = localStorage.getItem('free_arr');
    		if (datas === null) {
    			return false;
    		}
    		var _this = this;
    		var data = [];
    		datas = JSON.parse(datas);
    		_this.standby = false;
    		axios.post('/data.php', datas).then(function (res) {
             	_this.list = res.data.list;
             	_this.total = res.data.total;
             	_this.total_percent = res.data.total_percent;
             	_this.standby = true;
             	if (res.data.can_update) {
             		_this.update_free();
             	}
            }).catch(function(res) {
            	_this.standby = true;
            	console.log(res, 'error');
            });
    	},
    	update_free() {
    		var now = this.check_can_update();
    		if (!now) {
    			return false;
    		}
    		var list = this.list;
    		localStorage.setItem('update_at', now);
    		for (var i in list) {
    			this.setData(list[i].code, {free_update: (parseFloat(list[i].free) + parseFloat(list[i].win)).toFixed(2)});
    		}
    	},
    	init_free() {
    		var time = this.getTime();
    		if (time >= 570 && time <= 900) {
    			var datas = localStorage.getItem('free_arr');
    			if (datas === null) {
	    			return false;
	    		}
                datas = JSON.parse(datas);
	    		for (var i in datas) {
	    			if (datas[i].free_update > 0) {
	    				this.setData(datas[i].code, {free: datas[i].free_update, free_update: 0});
	    			}
	    		}
    		}
    	},
    	check_can_update() {
    		var last = localStorage.getItem('update_at');
    		var now = this.getTime('day');
    		if (last >= now) {
    			return false;
    		}
    		return now;
    	},
    	getTime(type) {
    		var now = new Date();
    		switch(type) {
    			case 'day':
    				return now.getFullYear()*365 + now.getMonth()*30 + now.getDate();
    				break;
    			default:
    				return now.getHours()*60 + now.getMinutes();
    				break;
    		}
    	},
        gotouchstart(code){
            let that = this;
            clearTimeout(timeOutEvent);//清除定时器
            timeOutEvent = 0;
            timeOutEvent = setTimeout(function(){
                //执行长按要执行的内容，
                that.delete_fund(code);
            }, 1000);//这里设置定时
        },
        //手释放，如果在500毫秒内就释放，则取消长按事件，此时可以执行onclick应该执行的事件
        gotouchend(){
            clearTimeout(timeOutEvent);
            if(timeOutEvent!=0){
                //这里写要执行的内容（尤如onclick事件
            }
        },
        //如果手指有移动，则取消所有事件，此时说明用户只是要移动而不是长按 
        gotouchmove(){
            clearTimeout(timeOutEvent);//清除定时器
            timeOutEvent = 0;
        },
        delete_fund(code){
            var datas = localStorage.getItem('free_arr');
            datas = JSON.parse(datas);
            delete datas[code];
            localStorage.setItem('free_arr', JSON.stringify(datas));
        },
    },
    created() {
    	this.init_free();
    	this.getData(0);
    	window.setInterval(() => {
    		this.getData(1);
    	}, 2000);
    }
});
</script>
</html>